src/main/resources/dtd/plan.dtd

<!ELEMENT Reseau (Noeud+)>
<!ELEMENT Noeud (LeTronconSortant*)>
<!ATTLIST Noeud
        id ID #REQUIRED
        x CDATA #REQUIRED
        y CDATA #REQUIRED>
<!ELEMENT LeTronconSortant EMPTY>
<!ATTLIST LeTronconSortant
        nomRue CDATA #REQUIRED
        vitesse CDATA #REQUIRED
        longueur CDATA #REQUIRED
        idNoeudDestination IDREF #REQUIRED>